h1,p{
    text-align: center;

}
h1{
    color: #06D6A0;
}
P{
    color:#118AB2
}
table, th, td {
    justify-content: center;
    text-align: center;

    border: 0.5px solid #06D6A0;
    width: 50%;
    margin-left: 250px;
}

  table{
  }

th{
  height: 30px;
    
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
    
  }

  tr:hover {background-color: coral;}
