@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500&display=swap');
body{
    margin:0;
    left:0;
    right:0;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
}
